:root {
  --flip-card-height: 600px;
  --flip-card-box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.card {
  height: var(--flip-card-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.he {
  background-color: red;
}
